In [14]:
import pandas as pd

In [15]:
file_path = r'C:\pandas\cars.csv'

In [16]:
# Read the CSV file into a DataFrame
cars_data = pd.read_csv(file_path)

In [17]:
# creating a deep copy of cars data.
cars_data1 = cars_data.copy(deep=True)

In [18]:
cars_data1.index

RangeIndex(start=0, stop=32, step=1)

In [19]:
cars_data1.columns

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [20]:
cars_data1.size

384

In [21]:
cars_data1.shape

(32, 12)

In [22]:
cars_data1.memory_usage()

Index         132
Unnamed: 0    256
mpg           256
cyl           256
disp          256
hp            256
drat          256
wt            256
qsec          256
vs            256
am            256
gear          256
carb          256
dtype: int64

In [23]:
cars_data1.ndim

2

In [24]:
cars_data1.head(6)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1

In [25]:
cars_data1.tail(6)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [26]:
cars_data1.at[4,'gear']

3

In [27]:
cars_data1.at[4,'hp']

175

In [28]:
cars_data1.loc[:,'gear']

0     4
1     4
2     4
3     3
4     3
5     3
6     3
7     4
8     4
9     4
10    4
11    3
12    3
13    3
14    3
15    3
16    3
17    4
18    4
19    4
20    3
21    3
22    3
23    3
24    3
25    4
26    5
27    5
28    5
29    5
30    5
31    4
Name: gear, dtype: int64