In [11]:
import pandas as pd
import numpy as np

In [3]:
file = r'C:\pandas\Toyota.csv'

In [4]:
# Read the CSV file into a DataFrame
cars_data = pd.read_csv(file)

In [5]:
cars_data1 = cars_data.copy(deep= True)

In [6]:
cars_data1.dtypes

Unnamed: 0      int64
Price           int64
Age           float64
KM             object
FuelType       object
HP             object
MetColor      float64
Automatic       int64
CC              int64
Doors          object
Weight          int64
dtype: object

In [8]:
cars_data1.select_dtypes(exclude=[object])

      Unnamed: 0  Price   Age  MetColor  Automatic    CC  Weight
0              0  13500  23.0       1.0          0  2000    1165
1              1  13750  23.0       1.0          0  2000    1165
2              2  13950  24.0       NaN          0  2000    1165
3              3  14950  26.0       0.0          0  2000    1165
4              4  13750  30.0       0.0          0  2000    1170
...          ...    ...   ...       ...        ...   ...     ...
1431        1431   7500   NaN       1.0          0  1300    1025
1432        1432  10845  72.0       0.0          0  1300    1015
1433        1433   8500   NaN       0.0          0  1300    1015
1434        1434   7250  70.0       1.0          0  1300    1015
1435        1435   6950  76.0       0.0          0  1600    1114

[1436 rows x 7 columns]

In [10]:
cars_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB

In [12]:
print(np.unique(cars_data1['KM']))

['1' '10000' '100123' ... '99865' '99971' '??']

In [13]:
print(np.unique(cars_data1['HP']))

['107' '110' '116' '192' '69' '71' '72' '73' '86' '90' '97' '98' '????']

In [14]:
print(np.unique(cars_data1['MetColor']))

[ 0.  1. nan]

In [15]:
print(np.unique(cars_data1['Automatic']))

[0 1]

In [16]:
print(np.unique(cars_data1['Doors']))

['2' '3' '4' '5' 'five' 'four' 'three']