In [1]:
import pandas as pd

In [2]:
file = r'C:\pandas\Toyota.csv'

In [5]:
cars_data = pd.read_csv(file,index_col=0,na_values=["??","????"])

In [6]:
cars_data2 = cars_data.copy()

In [7]:
pd.crosstab(index=cars_data2['FuelType'],columns='count',dropna=True)

col_0     count
FuelType
CNG          15
Diesel      144
Petrol     1177

In [8]:
pd.crosstab(index=cars_data2['Automatic'],
            columns=cars_data2['FuelType'],
            dropna=True)

FuelType   CNG  Diesel  Petrol
Automatic
0           15     144    1104
1            0       0      73

In [10]:
pd.crosstab(index=cars_data2['Automatic'],
            columns=cars_data2['FuelType'],
            normalize=True,
            dropna=True)  #joint probability

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011228  0.107784  0.826347
1          0.000000  0.000000  0.054641

In [11]:
pd.crosstab(index=cars_data2['Automatic'],
            columns=cars_data2['FuelType'],
            margins=True,
            normalize=True,
            dropna=True,)   # marginal probability

FuelType        CNG    Diesel    Petrol       All
Automatic
0          0.011228  0.107784  0.826347  0.945359
1          0.000000  0.000000  0.054641  0.054641
All        0.011228  0.107784  0.880988  1.000000

In [12]:
pd.crosstab(index=cars_data2['Automatic'],
            columns=cars_data2['FuelType'],
            margins=True,
            normalize='index',
            dropna=True,)  # conditional probability.

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011876  0.114014  0.874109
1          0.000000  0.000000  1.000000
All        0.011228  0.107784  0.880988

In [13]:
pd.crosstab(index=cars_data2['Automatic'],
            columns=cars_data2['FuelType'],
            margins=True,
            normalize='columns',dropna=True,
            )

FuelType   CNG  Diesel    Petrol       All
Automatic
0          1.0     1.0  0.937978  0.945359
1          0.0     0.0  0.062022  0.054641